<header>
    <nav class="menu">
        <ul>
            <li class="logo">
                <i class="material-icons color md-48">account_circle</i></li>
            <li>  
                <input type="text" id="author" >
            </li>
        </ul>
    </nav>
</header>